*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(198, 100%, 10%);
}

h1,
p {
  font-family: Jost, serif;
  color: #a1d2d1;
}

.container {
  display: grid;
  place-content: center;

  height: 100vh;
  width: 100%;
}
.intro {
  box-shadow: 0 0 1rem 0 hsl(200, 100%, 4%);
}
